html, body{
    background-color: black;
    height: 100%;
    margin: 0;
    padding: 0;
}


.flame-container{
    margin-top: 50%;
    margin-left: 50%;
    width: 40px;
    height: 40px;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
    width: 40px;
    height: 20px;
    background-color: blue;
}

.cell{
    width:20px;
    height: 20px;
    background-color: aqua;
}